// Defining primary colors
$top-sub-heading-color: hsl(276, 100%, 81%);
$chat-left-color: hsl(276, 55%, 52%);
$chat-right-color: hsl(271, 15%, 43%);
$place-holder-color: hsl(206, 6%, 79%);
$main-heading-color: hsl(271, 36%, 24%);
$paragraph-color: hsl(270, 7%, 64%);
$linear-violet: hsl(264, 100%, 61%);
$linear-margenta: hsl(293, 100%, 63%);

// Defining secondary colors
$white: hsl(0, 0%, 100%);
$app-bg: hsl(270, 20%, 96%);
$submit-button-bg: hsl(271, 36%, 24%);
$radio-button-outline-color: hsl(289, 100%, 72%);

// Font weights
$body-font-size: 16px;
$font-weight-regular: 400;
$font-weight-normal: 500;
$font-weight-bold: 900;
